<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>主页</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid" style="margin:20px">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <h5 class="text-white h4">Collapsed content</h5>
                        <span class="text-muted">Toggleable via the navbar brand.</span>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <span aria-hidden="true" th:each="question : ${paginationDTOlist.getQuestionDTOS()}">
                <hr>
                <div class="media shadow-sm p-3 mb-5 bg-white rounded border border-secondary">
                    <img th:src="${question.getUser().getAvatarUrl()}" style="width: 80px" class="align-self-center mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0" th:text="${question.getTitle()}"></h5>
                            <span th:text="${question.getDescription()}"></span>
                            <p><span th:text="${question.getCommentCount()}"></span>个回复·<span th:text="${question.getViewCount()}"></span> 次阅读·<span th:text="${#dates.format(question.getGmtModified(),'dd MMMM yyyy')}"></span></p>
                        </div>
                </div>
            </span>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li th:class="${paginationDTOlist.hasPrevious}? 'page-item':'page-item disabled'">
                        <a class="page-link" th:href="@{'?page=' + ${paginationDTOlist.currentPage - 1}}" >上一页</a>
                    </li>
                    <!--使用th:each 对pagi循环5次，每次判断是否为当前，若是当前则变亮，-->
                    <span th:each="pageNow : ${paginationDTOlist.pages}">
                        <li th:class="${paginationDTOlist.currentPage == pageNow} ? 'page-item active':'page-item'">
<!--                            <p th:text="${pageNow}"></p>-->
                                <a class="page-link"  th:href="@{'?page='+ ${pageNow}}"  th:text="${pageNow}"></a>
                        </li>
                    </span>
                    <li th:class="${paginationDTOlist.hasNext}? 'page-item':'page-item disabled'">
                        <a class="page-link" th:href="@{'?page=' + ${paginationDTOlist.currentPage + 1}}" >下一页</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            标题不能多于25个字！
        </div>
    </div>

</div>


</body>
</html>