<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>主页</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <svg class="bi bi-bootstrap" width="1.5em" height="1.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 3H6a3 3 0 00-3 3v8a3 3 0 003 3h8a3 3 0 003-3V6a3 3 0 00-3-3zM6 2a4 4 0 00-4 4v8a4 4 0 004 4h8a4 4 0 004-4V6a4 4 0 00-4-4H6z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M10.537 14H7.062V5.545h3.398c1.588 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.482 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396zM8.375 6.658v2.467h1.558c1.16 0 1.764-.428 1.764-1.23 0-.78-.568-1.237-1.541-1.237H8.375zm1.898 6.229H8.375v-2.725h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377z" clip-rule="evenodd"/>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" th:if="${session.githubUser != null}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.githubUser.getName()}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">消息中心</a>
                    <a class="dropdown-item" href="#">个人资料</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
            <li class="nav-item" th:if="not ${session.githubUser != null}">
                <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=35c4a4d61c5614daa6cf&redirect_uri=http://localhost:8888/callback&scope=user&state=1">登录</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
    </div>
</nav>
<div class="container-fluid" style="margin:20px">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <h5 class="text-white h4">Collapsed content</h5>
                        <span class="text-muted">Toggleable via the navbar brand.</span>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <span aria-hidden="true" th:each="question : ${paginationDTOlist.getQuestionDTOS()}">
                <hr>
                <div class="media shadow-sm p-3 mb-5 bg-white rounded border border-secondary">
                    <img th:src="${question.getUser().getAvatarUrl()}" style="width: 80px" class="align-self-center mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0" th:text="${question.getTitle()}"></h5>
                            <span th:text="${question.getDescription()}"></span>
                            <p><span th:text="${question.getCommentCount()}"></span>个回复·<span th:text="${question.getViewCount()}"></span> 次阅读·<span th:text="${#dates.format(question.getGmtModified(),'dd MMMM yyyy')}"></span></p>
                        </div>
                </div>
            </span>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li th:class="${paginationDTOlist.hasPrevious}? 'page-item':'page-item disabled'">
                        <a class="page-link" href="#" >Previous</a>
                    </li>
                    <!--使用th:each 对pagi循环5次，每次判断是否为当前，若是当前则变亮，-->
                    <span th:each="pageNow : ${paginationDTOlist.pages}">
                        <li th:class="${paginationDTOlist.currentPage == pageNow} ? 'page-item active':'page-item'">
<!--                            <p th:text="${pageNow}"></p>-->
                                <a class="page-link"  th:href="@{'?page='+ ${pageNow}}"  th:text="${pageNow}"></a>
                        </li>
                    </span>
                    <li th:class="${paginationDTOlist.hasNext}? 'page-item':'page-item disabled'">
                        <a class="page-link" href="#" >Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            标题不能多于25个字！
        </div>
    </div>

</div>


</body>
</html>