<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>主页</title>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <span aria-hidden="true">
                <br>
                <p><svg class="bi bi-plus" width="2em" height="2em" viewBox="0 1 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"/>
                </svg>发起
                </p>
                <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title" class="font-weight-light">问题标题...</label>
                    <input class="form-control font-weight-lighter" id="title" name="title" th:value="${title}" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description" class="font-weight-light">问题补充...</label>
                    <textarea name="description" id="description" class="form-control" th:value="${description}" rows="20"></textarea>
                </div>
                    <div class="form-group">
                    <label for="tag" class="font-weight-light">添加标签...</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，以逗号隔开">
                        <br>
                        <div class="">
                        <button type="submit" class="btn btn-outline-dark">发布</button>
                            <hr>
                        <div class="alert alert-warning" role="alert" style="width: auto;font-size: 12px" th:value="${error}">
                        </div>
                        </div>
                </div>
                </form>
            </span>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px">
            标题不能多于25个字！
        </div>
    </div>
</div>
</body>
</html>